{
	auto_https off
}

:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy stone:8080
	}

	handle /ws {
		reverse_proxy stone:8080
	}

	handle /uploads/* {
		reverse_proxy stone:8080
	}

	handle {
		root * /srv/ember
		try_files {path} /index.html
		file_server
	}
}
